.home-page .services {
  padding: 75px 15%;
  text-align: center;
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 17px;
    margin: 10px 0 30px;
    line-height: 1.6;
  }
}

@media (max-width: 1000px) {
  .home-page .services {
    padding: 75px 5%;
  }
}
